@value desktopBreakpoint from './breakpoints.css';

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.logo {
  width: 300px;
}

@media (desktopBreakpoint) {
  .logo {
    width: 528px;
  }
}
